                    * {
                        padding: 0;
                        margin: 0;
                        font-family: 'Poppins', sans-serif;
                    }
                    
                    .wrapper {
                        height: 100vh;
                        width: 100vw;
                        background: linear-gradient(to right, black 50%, grey);
                        background-size: cover;
                        background-position: center;
                    }
                    
                    nav {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        padding-top: 20px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    
                    .hamburger i {
                        display: none;
                    }
                    /* .ham,
                    .time {
                        display: none;
                    } */
                    
                    .logo {
                        color: white;
                        font-size: 35px;
                        letter-spacing: 5px;
                        cursor: pointer;
                    }
                    
                    span {
                        color: gold;
                    }
                    
                    nav ul li {
                        list-style-type: none;
                        display: inline-block;
                        padding: 30px 50px;
                    }
                    
                    nav ul li a {
                        color: ivory;
                        text-decoration: none;
                        font-size: 20px;
                        font-family: 'Staatliches', cursive;
                        letter-spacing: 4px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    
                    nav ul li a:hover {
                        color: goldenrod;
                        transition: .8s
                    }
                    
                    .btn {
                        background: goldenrod;
                        color: white;
                        font-family: monospace;
                        font-size: 20px;
                        text-decoration: none;
                        letter-spacing: 3px;
                        border-radius: 9px;
                        font-weight: bold;
                        border: 2px solid transparent;
                        padding: 10px 19px;
                    }
                    
                    .btn:hover {
                        transform: scale(1.1)
                    }
                    /* CONTENT */
                    
                    .content {
                        position: absolute;
                        top: 50%;
                        left: 8%;
                        tranform: translateY(-50%);
                    }
                    
                    h1 {
                        color: white;
                        margin: 20px 0px 20px;
                        font-size: 70px;
                    }
                    
                    h3 {
                        color: white;
                        font-size: 20px;
                        margin-bottom: 50px;
                    }
                    
                    h4 {
                        color: lightslategray;
                        font-size: 18px;
                        letter-spacing: 5px;
                    }
                    
                    .form1 form {
                        width: 380px;
                        max-width: 100%;
                        position: relative;
                    }
                    
                    .form1 form input:first-child {
                        display: inline-block;
                        width: 200px;
                        padding: 14px 130px 14px 15px;
                        border: 4px solid goldenrod;
                        border-radius: 4rem;
                        outline: none;
                    }
                    
                    .form1 form input:last-child {
                        position: absolute;
                        display: inline-block;
                        outline: none;
                        border: none;
                        padding: 10px 30px;
                        border-radius: 4rem;
                        background-color: goldenrod;
                        color: ivory;
                        cursor: pointer;
                        box-shadow: 0 0 5px #000, 0 0 15px #868686;
                        top: 8px;
                        right: 35px;
                    }
                    
                    .share {
                        position: absolute;
                        top: 107%;
                        left: 25%;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                    }
                    
                    .share p {
                        font-size: 18px;
                        color: ivory;
                        margin-right: 60px;
                    }
                    
                    .share .social a {
                        display: inline-block;
                        color: goldenrod;
                        margin-right: 4rem;
                        transition: transform .4s;
                    }
                    
                    i {
                        font-size: 50px;
                    }
                    
                    i:hover {
                        transform: scale(1.1)
                    }
                    
                    img {
                        position: absolute;
                        top: 30%;
                        left: 67%;
                        tranform: translateY(50%);
                        border-radius: 50%;
                        box-shadow: 0 0 10px black;
                    }
                    /* ====================================RESPONSIVE =================================== */
                    /* FOR 1080px */
                    
                    @media (max-width: 1080px) {
                        .logo {
                            margin-top: 10rem;
                            margin-left: 12rem;
                        }
                        .wrapper {
                            height: 200vh;
                            width: 100vw;
                        }
                        .content {
                            margin-top: 500px;
                            margin-right: 4rem;
                        }
                        .btn {
                            position: absolute;
                            bottom: 50%;
                            left: 19%;
                        }
                        nav ul li {
                            list-style-type: none;
                            display: inline-block;
                            padding: 20px 20px;
                        }
                        nav ul li a {
                            position: relative;
                            color: ivory;
                            text-decoration: none;
                            font-size: 20px;
                            font-family: 'Staatliches', cursive;
                            letter-spacing: 1px;
                            font-weight: bold;
                            text-transform: uppercase;
                            top: 6rem;
                        }
                        img {
                            position: absolute;
                            bottom: 30;
                            left: 60px;
                            top: 20.5rem;
                            width: 200px;
                            height: 450px;
                            border-radius: 50%;
                            box-shadow: 0 0 10px black;
                        }
                    }
                    /* ====================FOR 768px======================================= */
                    
                    @media (max-width: 768px) {
                        nav ul li {
                            display: none;
                        }
                        .logo {
                            margin-top: 10rem;
                            margin-left: 12rem;
                        }
                        .wrapper {
                            height: 200vh;
                            width: 100vw;
                        }
                        .content {
                            margin-top: 500px;
                            margin-right: 4rem;
                        }
                        .btn {
                            position: absolute;
                            bottom: 50%;
                            left: 34%;
                        }
                        img {
                            position: absolute;
                            bottom: 30;
                            left: 60px;
                            top: 20.5rem;
                            width: 200px;
                            height: 450px;
                            border-radius: 50%;
                            box-shadow: 0 0 10px black;
                        }
                    }
                    
                    @media (max-width: 578px) {
                        nav ul li {
                            display: none;
                        }
                        .logo {
                            margin-top: 10rem;
                            margin-left: 12rem;
                        }
                        .wrapper {
                            height: 200vh;
                            width: 150vw;
                        }
                        .content {
                            margin-top: 500px;
                            margin-right: 4rem;
                        }
                        .btn {
                            position: absolute;
                            bottom: 50%;
                            left: 34%;
                        }
                        img {
                            position: absolute;
                            bottom: 30;
                            left: 60px;
                            top: 20.5rem;
                            width: 200px;
                            height: 450px;
                            border-radius: 50%;
                            box-shadow: 0 0 10px black;
                        }
                    }